:root {
  --contact-text: #757575;
  --category-text: #757575;
  --nav-text: #212121;
  --filter-text: #212121;
  --main-text: #212121;
  --active: #2196f3;
  --background-btn-filter: #f5f4fa;
  --background-footer: #2f303a;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--main-text);
}
body ul {
  list-style-type: none;
}
.logo {
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--active);
}
.nav-links {
  list-style-type: none;
}
.nav-links a {
  text-decoration: none;
  color: var(--nav-text);
}
.nav-links a:hover {
  text-decoration: none;
  color: var(--active);
}
#study-link {
  color: var(--active);
}
#portafolio-link {
  color: var(--active);
}
.contact-us {
  list-style-type: none;
}
.contact-us a {
  color: var(--contact-text);
  text-decoration: none;
}
.contact-us a:hover {
  color: var(--active);
  text-decoration: none;
}
footer {
  background-color: var(--background-footer);
  color: #fff;
}
.contact-us-footer {
  list-style-type: none;
}
.contact-us-footer a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-us-footer a:hover {
  color: var(--active);
  text-decoration: none;
}
.btn-service {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  text-align: center;
  border-color: var(--background-btn-filter);
  border-radius: 4px;
  background-color: var(--background-btn-filter);
}
.btn-service:hover {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  border-color: var(--active);
  background-color: var(--active);
  cursor: pointer;
}
.filter {
  list-style-type: none;
}
.text-filter {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  text-align: center;
}
.filter-btn-all {
  height: 38px;
  width: 73px;
  border-color: var(--background-btn-filter);
  border-radius: 4px;
  background-color: var(--background-btn-filter);
}
.filter-btn-all:hover {
  font-family: Roboto;
  height: 38px;
  width: 73px;
  color: #fff;
  border-color: var(--active);
  background-color: var(--active);
  cursor: pointer;
}
.filter-btn-web {
  height: 38px;
  width: 128px;
  border-color: var(--background-btn-filter);
  border-radius: 4px;
  background-color: var(--background-btn-filter);
}
.filter-btn-web:hover {
  width: 128px;
  height: 38px;
  color: #fff;
  border-color: var(--active);
  background-color: var(--active);
  cursor: pointer;
}
.filter-btn-app {
  height: 38px;
  width: 145px;
  border-color: var(--background-btn-filter);
  border-radius: 4px;
  background-color: var(--background-btn-filter);
}
.filter-btn-app:hover {
  width: 145px;
  height: 38px;
  color: #fff;
  border-color: var(--active);
  background-color: var(--active);
  cursor: pointer;
}
.filter-btn-design {
  height: 38px;
  width: 103px;
  border-color: var(--background-btn-filter);
  border-radius: 4px;
  background-color: var(--background-btn-filter);
}
.filter-btn-design:hover {
  width: 103px;
  height: 38px;
  color: #fff;
  border-color: var(--active);
  background-color: var(--active);
  cursor: pointer;
}
.filter-btn-marketing {
  height: 38px;
  width: 103px;
  border-color: var(--background-btn-filter);
  border-radius: 4px;
  background-color: var(--background-btn-filter);
}
.filter-btn-marketing:hover {
  width: 103px;
  height: 38px;
  color: #fff;
  border-color: var(--active);
  background-color: var(--active);
  cursor: pointer;
}
.filter-items h2 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.25em;
  letter-spacing: 0.06em;
  text-align: left;
}
.filter-items p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875em;
  letter-spacing: 0.03em;
  text-align: left;
}
